body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estilos del encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #080808;
    color: white;
}

.header__logo-img {
    height: 40px;
}

.conatiner__menu {
    position: fixed;
    width: 100%;
    height: 4.85rem;
    background: black;
    z-index: 1;
}

.menu__btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    width: 1.5rem;
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.menu__article {
    background: white;
    width: 1.5rem;
    height: 2px;
    border-radius: 5px;
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: center;
}

.nav-btn[aria-expanded="true"] .menu__article:nth-child(1) {
    transform: rotate(45deg) translateY(6px);
}

.nav-btn[aria-expanded="true"] .menu__article:nth-child(2) {
    transform: rotate(-45deg) translateY(-6px);
}

/* Menú deslizable desde la derecha */
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    /* Inicia oculto a la derecha */
    width: 250px;
    height: 100%;
    background-color: #222;
    color: white;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
    padding-top: 50px;
}

.side-menu.open {
    right: 0;
    /* Se muestra al abrir */
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 15px 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s;
}

.side-menu ul li a:hover {
    background-color: #444;
}

/* Capa de fondo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/08-night.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    text-align: center;
}

.home__title,
.home__text {
    color: white;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.home__hotel {
    font-size: 3rem;
    color: white;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.home__btn {
    position: fixed;
    bottom: 6rem;
    right: 6rem;
    background-color: #C9A227;
    color: #fff;
    padding: 0.7rem 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.9rem;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1000;

}

.home__btn:hover {
    background-color: #e76f51;
}

/* About/ hotel  */
.hotel {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 40px;
    background-color: #ceddd8;
}

.hotel__header {
    text-align: center;
    margin-bottom: 40px;
}

.hotel__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hotel__description {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

h2,
h3 {}

/* Carousel */
.Carousel {
    background: linear-gradient(to right, #162623, #849490);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 2s;
}

.slider span img:hover {
    transform: translateY(-50px) scale(1.2);
}

.spinner span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    transition: 2s;
}

.spinner span img:hover {
    transform: translateY(-50px) scale(1.2);
}